 .three-button{
    color: white;
    background-color: green;
    border-color: green;
    border-style: solid;
    margin-top: 8px;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bold;
    transition: padding-left 0.15s,
    padding-right 0.15s;
}
.three-button:hover{
    padding-left: 23px;
    padding-right: 23px;
}