.container{
    display: inline-block;
}

.search-bar{
    height: 22px;
    margin-left: 4px;
    display: block;
}

.img{
    width: 340px;
    display: block;
}

.video-title{
    font-weight: bold;
    font-size: 16px;
    margin-top: 6px;
    width: 290px;
    margin-left: 58px;
    display: inline-block;
}

.video-author{
    color: rgb(83, 82, 82);;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 58px;
}

.video-stats{
    color: rgb(83, 82, 82);
    margin-top: 4px;
    margin-left: 58px;
    margin-bottom: 0px;
}